################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GitTestApp/obj/Debug
/.vs/GitTestApp/v15/Server/sqlite3
/.vs/GitTestApp/v15/.suo
